<div class="container">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="filme">Nome filme:</label>
            <input type="text" name="inputFilme" value="" class="form-control">
            <label class="control-label" for="filme">Categoria:</label>
            <input type="text" name="inputCategoria" value="" class="form-control">
        </div>

    </div>
    <br>
    <div>
        <!-- <button type="submit" class="btn btn-primary btn-lg">Salvar</button> -->
        <button type="button" class="btn btn-primary btn-lg">Adicionar</button>
        <button type="button" class="btn btn-primary btn-lg">Listar</button>
        <button type="button" class="btn btn-primary btn-lg">Excluir</button>
        <button type="button" class="btn btn-primary btn-lg">Alterar</button>
    </div>
</div>